<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="Tm55Xtus9RTdgHnH6Y6J4t2Bl5qLYJHGenuZ6Tx_gRs" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyBlog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <header class="navbar">
        <a href="/" class="logo">
    <img src="{% static 'images/logo.png' %}" alt="MyBlog" style="height: 40px;">
</a>

        <nav>
            <a href="{% url 'home' %}">Home</a>

            {% if user.is_authenticated %}
                <a href="{% url 'create_post' %}">Create Post</a>
                <a href="{% url 'author_profile' user.username %}" class="profile-link">{{ user.username }}</a>
                <a href="{% url 'edit_profile' %}">Edit Profile</a>

                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2026 MyBlog</p>
    </footer>

</body>
</html>
